{
  "log": {
    "loglevel": "warning",
    "access": "/dev/null",
    "error": "/dev/stderr"
  },
  "inbounds": [
    {
      "port": 6666,
      "listen": "127.0.0.1",
      "protocol": "vless",
      "settings": {
        "decryption": "none",
        "clients": []
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": {
          "path": "/vless"
        }
      }
    }
  ],
  "outbounds": [
    {
      "protocol": "freedom",
      "settings": {}
    }
  ]
}
